@font-face {
  font-family: "River";
  src: url("assets/river.ttf") format("truetype");
}

@font-face {
  font-family: "Shree";
  src: url("assets/shree-714.ttf") format("truetype");
}

body {
  font-family: "Shree";
}

.contact-info {
  font-family: "River";
}

@media (max-width: 768px) {
  .contact-info {
    font-size: 0.8rem; /* Adjust this value to your preferred size */
  }
}
